In [2]:
import pandas as pd
jeopardy = pd.read_csv("jeopardy.csv")
jeopardy.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [3]:
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [4]:
jeopardy.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

In [5]:
import re

# This function will take in a string and return the lower case version of that string
def normalize_text(text):
    text = text.lower()
    text = re.sub("[^A-Za-z0-9\s]", "", text)
    return text

In [6]:
# Convert the question and answer fields to lower case and assign to new fields
jeopardy["clean_question"] = jeopardy["Question"].apply(normalize_text)
jeopardy["clean_answer"] = jeopardy["Answer"].apply(normalize_text)

In [7]:
# This function takes in string and if it's a number converts it to an int, otherwise it returns 0
def normalize_values(text):
    text = re.sub("[^A-Za-z0-9\s]", "", text)
    try:
        text = int(text)
    except Exception:
        text = 0
    return text

In [8]:
# Convert value field to int and assign to clean_value
jeopardy["clean_value"] = jeopardy["Value"].apply(normalize_values)

In [9]:
# Convert Air Date field to date/time
jeopardy["Air Date"] = pd.to_datetime(jeopardy["Air Date"])

In [10]:
jeopardy.dtypes

Show Number                int64
Air Date          datetime64[ns]
Round                     object
Category                  object
Value                     object
Question                  object
Answer                    object
clean_question            object
clean_answer              object
clean_value                int64
dtype: object

In [11]:
# This function takes in a row and checks to see if parts of the answer are in the question
def check_ans_in_question (row):
    # Split the clean answer and question fields on the space character
    split_answer =row["clean_answer"].split(" ")
    split_question =row["clean_question"].split(" ")
    # Remove the word "the" from split answer
    if "the" in split_answer:
        split_answer.remove("the")
    # Return 0 if split answer is empty    
    if len(split_answer) == 0:
        return 0
    match_count = 0
    for ans in split_answer:
        if ans in split_question:
            match_count += 1
    return match_count/len(split_answer)

jeopardy["answer_in_question"] = jeopardy.apply(check_ans_in_question, axis=1)

In [12]:
jeopardy["answer_in_question"].mean()

0.060493257069335872

Questions in Answer:
In only 6% of the questions, the answer appears in the question. This percentage means that using the terms in the questions to derive the answers is a flawed strategy.

In [13]:
jeopardy.sort("Air Date")

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question
19325,10,1984-09-21,Final Jeopardy!,U.S. PRESIDENTS,None,"Adventurous 26th president, he was 1st to ride...",Theodore Roosevelt,adventurous 26th president he was 1st to ride ...,theodore roosevelt,0,0.000000
19301,10,1984-09-21,Double Jeopardy!,LABOR UNIONS,$200,Notorious labor leader missing since '75,Jimmy Hoffa,notorious labor leader missing since 75,jimmy hoffa,200,0.000000
19302,10,1984-09-21,Double Jeopardy!,1789,$200,"Washington proclaimed Nov. 26, 1789 this first...",Thanksgiving,washington proclaimed nov 26 1789 this first n...,thanksgiving,200,0.000000
19303,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$200,Both Ferde Grofe' & the Colorado River dug thi...,the Grand Canyon,both ferde grofe the colorado river dug this ...,the grand canyon,200,0.000000
19304,10,1984-09-21,Double Jeopardy!,LITERATURE,$200,"Depending on the book, he could be a ""Jones"", ...",Tom,depending on the book he could be a jones a sa...,tom,200,0.000000
19305,10,1984-09-21,Double Jeopardy!,HOMONYMS,$200,Hindu hierarchy or a play's actors,a caste (cast),hindu hierarchy or a plays actors,a caste cast,200,0.333333
19306,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$200,"Last season, this series mourned the loss of S...",Hill Street Blues,last season this series mourned the loss of sg...,hill street blues,200,0.000000
19307,10,1984-09-21,Double Jeopardy!,1789,$400,Why April 28th was a bad day for Capt. Bligh,the day of the mutiny on the Bounty,why april 28th was a bad day for capt bligh,the day of the mutiny on the bounty,400,0.142857
19308,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$400,Seaside resort that has a monopoly on East Coa...,"Atlantic City, New Jersey",seaside resort that has a monopoly on east coa...,atlantic city new jersey,400,0.000000
19309,10,1984-09-21,Double Jeopardy!,LITERATURE,$400,"He wrote ""The 3 Musketeers""; his son wrote ""Ca...",(Alexandre) Dumas,he wrote the 3 musketeers his son wrote camille,alexandre dumas,400,0.000000
19310,10,1984-09-21,Double Jeopardy!,HOMONYMS,$400,Near or a purchase,by (buy),near or a purchase,by buy,400,0.000000
19311,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$400,He went from the Ponderosa to the prairie,Michael Landon,he went from the ponderosa to the prairie,michael landon,400,0.000000
19312,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$600,"Since '27, stars have made good impressions at...",Mann's Chinese Theatre,since 27 stars have made good impressions at t...,manns chinese theatre,600,0.000000
19313,10,1984-09-21,Double Jeopardy!,LITERATURE,$600,Where you can't go again in Thomas Wolfe title,home,where you cant go again in thomas wolfe title,home,600,0.000000
19314,10,1984-09-21,Double Jeopardy!,HOMONYMS,$600,"A fixed look, or Ginger Rogers' partner",a stare (Astaire),a fixed look or ginger rogers partner,a stare astaire,600,0.333333
19315,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$600,"In 1970 he had a ""Goodtime Hour""",Glen Campbell,in 1970 he had a goodtime hour,glen campbell,600,0.000000
19316,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$800,A thrilling destination for tight-rope walkers...,Niagara Falls,a thrilling destination for tightrope walkers ...,niagara falls,800,0.000000
19317,10,1984-09-21,Double Jeopardy!,LITERATURE,$800,Irving's bird-like hero chased by the Headless...,Ichabod Crane,irvings birdlike hero chased by the headless h...,ichabod crane,800,0.000000
19318,10,1984-09-21,Double Jeopardy!,HOMONYMS,"$1,000",Didn't see the fog,missed (mist),didnt see the fog,missed mist,1000,0.000000
19319,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$800,"Jackie Gleason show that rejected titles ""The ...",The Honeymooners,jackie gleason show that rejected titles the l...,the honeymooners,800,0.000000
19320,10,1984-09-21,Double Jeopardy!,1789,$1000,"Now totaling over $1 trillion, it began 11 day...",the national debt,now totaling over 1 trillion it began 11 days ...,the national debt,1000,0.000000
19321,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$1000,Tourists know this Catholic mission as Davy Cr...,the Alamo,tourists know this catholic mission as davy cr...,the alamo,1000,0.000000
19322,10,1984-09-21,Double Jeopardy!,LITERATURE,$1000,Shaw's scorched saint,St. Joan of Arc,shaws scorched saint,st joan of arc,1000,0.000000
19323,10,1984-09-21,Double Jeopardy!,HOMONYMS,$1000,Where ships dock or what a jury consists of,piers (peers),where ships dock or what a jury consists of,piers peers,1000,0.000000
19300,10,1984-09-21,Jeopardy!,SPORTS,$500,"Boxer whose life was portrayed in ""Somebody Up...",Rocky Graziano,boxer whose life was portrayed in somebody up ...,rocky graziano,500,0.000000
19324,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$1000,"In court, he'd always make mincemeat of Hamilt...",Perry Mason,in court hed always make mincemeat of hamilton...,perry mason,1000,0.000000
19299,10,1984-09-21,Jeopardy!,"""B"" MOVIES",$500,Sensitive Mart Crowley treatment of gays march...,The Boys in the Band,sensitive mart crowley treatment of gays march...,the boys in the band,500,0.000000
19297,10,1984-09-21,Jeopardy!,"""JACKS"" OF ALL TRADES",$500,"2nd generation pop singer, he's sung on every ...",Jack Jones,2nd generation pop singer hes sung on every lo...,jack jones,500,0.000000
19274,10,1984-09-21,Jeopardy!,GEOGRAPHY,$100,Formerly Formosa,Taiwan,formerly formosa,taiwan,100,0.000000
19275,10,1984-09-21,Jeopardy!,DOUBLE TALK,$100,"Not a Hawaiian cow, but a dress worn by Hawaii...",a muumuu,not a hawaiian cow but a dress worn by hawaiia...,a muumuu,100,0.500000
...,...,...,...,...,...,...,...,...,...,...,...
1973,6294,2012-01-19,Double Jeopardy!,4 N,$2000,"Inopportune or untimely, like the title ""woman...",inconvenient,inopportune or untimely like the title woman i...,inconvenient,2000,0.000000
1974,6294,2012-01-19,Final Jeopardy!,SPORTS & THE MOVIES,None,"When asked for a home address in ""The Blues Br...",Wrigley Field,when asked for a home address in the blues bro...,wrigley field,0,0.000000
1959,6294,2012-01-19,Double Jeopardy!,THE LIVING PLANET,$1200,"Relative to the size of the bird, this flightl...",the kiwi,relative to the size of the bird this flightle...,the kiwi,1200,0.000000
1958,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$1200,"Today, this Japanese car company makes the gal...",Mitsubishi,today this japanese car company makes the gala...,mitsubishi,1200,0.000000
1957,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$1200,A New York steak is also known as this alliter...,strip steak,a new york steak is also known as this alliter...,strip steak,1200,0.500000
1956,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,"$1,800",This political party founded around 1789 stood...,the Federalists,this political party founded around 1789 stood...,the federalists,1800,0.000000
1934,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$800,In 1851 this company started using a logo with...,Proctor & Gamble,in 1851 this company started using a logo with...,proctor gamble,800,0.333333
1935,6294,2012-01-19,Jeopardy!,NURSERY RHYMES,$800,"While ""January brings the snow"", ""may brings f...",lambs,while january brings the snow may brings flock...,lambs,800,0.000000
1936,6294,2012-01-19,Jeopardy!,INLETS,$800,"This Chilean city whose name means ""valley of ...",Valparaiso,this chilean city whose name means valley of p...,valparaiso,800,0.000000
1937,6294,2012-01-19,Jeopardy!,"THE EVOLUTION OF ""M""USIC",$800,"In the '90s it was ""Enter Sandman"" with this g...",Metallica,in the 90s it was enter sandman with this group,metallica,800,0.000000
1938,6294,2012-01-19,Jeopardy!,FOREIGN,$800,Tredici is Italian for this symbol of bad luck,thirteen,tredici is italian for this symbol of bad luck,thirteen,800,0.000000
1939,6294,2012-01-19,Jeopardy!,"A SHAKESPEARE PLAY, FOR OPENERS",$1000,This play opens most dramatically with thunder...,The Tempest,this play opens most dramatically with thunder...,the tempest,1000,0.000000
1940,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$1000,In 1927 this brand name first appeared on a Se...,Kenmore,in 1927 this brand name first appeared on a se...,kenmore,1000,0.000000
1941,6294,2012-01-19,Jeopardy!,NURSERY RHYMES,$1000,"""Here we go round"" this bush ""on a cold and fr...",the mulberry bush,here we go round this bush on a cold and frost...,the mulberry bush,1000,0.500000
1942,6294,2012-01-19,Jeopardy!,INLETS,$1000,North Carolina's Albemarle Sound is no deeper ...,the Outer Banks,north carolinas albemarle sound is no deeper t...,the outer banks,1000,0.000000
1943,6294,2012-01-19,Jeopardy!,"THE EVOLUTION OF ""M""USIC",$1000,"In the 2000s ""Makes Me Wonder"" got this group ...",Maroon 5,in the 2000s makes me wonder got this group no...,maroon 5,1000,0.000000
1932,6294,2012-01-19,Jeopardy!,FOREIGN,$600,"If Popeye spoke Hebrew he'd ask for tered, this",spinach,if popeye spoke hebrew hed ask for tered this,spinach,600,0.000000
1944,6294,2012-01-19,Jeopardy!,FOREIGN,$1000,"In German, berg is this topographical feature ...",a mountain,in german berg is this topographical feature o...,a mountain,1000,0.500000
1946,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$400,"If you can't stand the heat, there's always th...",steak tartare,if you cant stand the heat theres always this ...,steak tartare,400,0.000000
1947,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$400,The British A22 Mark IV tank carried a 75-mill...,Churchill,the british a22 mark iv tank carried a 75milli...,churchill,400,0.000000
1948,6294,2012-01-19,Double Jeopardy!,THE LIVING PLANET,$400,"Able to lift 850 times its own weight, the str...",beetle,able to lift 850 times its own weight the stro...,beetle,400,0.000000
1949,6294,2012-01-19,Double Jeopardy!,ACTING PRESIDENTS ON TV,$400,Blair Underwood as President Elias Martinez,The Event,blair underwood as president elias martinez,the event,400,0.000000
1950,6294,2012-01-19,Double Jeopardy!,4 N,$400,"Number of ""beers on the wall"" at the beginning...",ninety-nine,number of beers on the wall at the beginning o...,ninetynine,400,0.000000
1951,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,$800,In 1951 he told a joint session of congress th...,(Douglas) McArthur,in 1951 he told a joint session of congress th...,douglas mcarthur,800,0.000000
1952,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$800,A New England boiled dinner is traditionally m...,corned beef,a new england boiled dinner is traditionally m...,corned beef,800,0.000000
1953,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$800,"Ships in the U.S. Navy's Casablanca class of ""...",aircraft carriers,ships in the us navys casablanca class of esco...,aircraft carriers,800,0.000000
1954,6294,2012-01-19,Double Jeopardy!,ACTING PRESIDENTS ON TV,$800,Dennis Haysbert & D.B. Woodside as David & Way...,24,dennis haysbert db woodside as david wayne p...,24,800,0.000000
1955,6294,2012-01-19,Double Jeopardy!,4 N,$800,"""U"" know it means not deliberate; I'm sorry, t...",unintentional,u know it means not deliberate im sorry that s...,unintentional,800,0.000000
1945,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,$400,In December 1974 this former New York governor...,Rockefeller,in december 1974 this former new york governor...,rockefeller,400,0.000000
1922,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$400,In 1997 Tyco International moved to this U.K. ...,Bermuda,in 1997 tyco international moved to this uk te...,bermuda,400,0.000000

In [30]:
question_overlap = [] 
terms_used= set()
for i, row in jeopardy.iterrows():
    # Split the question on the space character
    split_question = row["clean_question"].split(" ")
    # Remove any words that are less than 6 characters long
    split_question = [q for q in split_question if len(q) > 5]
    match_count = 0
    # Loop thru each word, if it is in terms_used, add 1 to match_count
    for word in split_question:
        if word in terms_used:
            match_count += 1
    # Loop thru and add each word to terms_used set        
    for word in split_question:
        terms_used.add(word)   
    # If length of split_question is greater than 0, divide match_count by length        
    if len(split_question) > 0:
        match_count /= len(split_question)
    # Add # of matches to question overlap
    question_overlap.append(match_count)
# Append question overlap to jeopardy field question overlap
jeopardy["question_overlap"] = question_overlap
# Get the mean
jeopardy["question_overlap"].mean()

0.69087373156719623

Question Overlap: 
There is a 69% overlap in words within questions. Since this looks at words, and not phrases or even entire question, this data is suspect.

In [28]:
# This function takes in a row and determines if it is a high value ( > 800) question or a low value question (<=800)
def determine_value (row):
    if row["clean_value"] > 800:
        value = 1 # High value
    elif row["clean_value"] <= 800:
        value = 0 # Low value
    return value

jeopardy["high_value"] = jeopardy.apply(determine_value, axis = 1)

In [29]:
# This function takes in a word and counts how many times it is on a high value question and how many times it is on a low value question.
def count_value (word):
    low_count = 0
    high_count = 0
    # Loop thru each row in jeopardy
    for i, row in jeopardy.iterrows():
        # if word is in clean question, increment high or low count based on what the value is
        if word in  row["clean_question"].split(" "):
            if row["high_value"] == 1:
                high_count += 1
            else :
                low_count +=1               
    return high_count, low_count

observed_expected = []
comparison_terms = list(terms_used)[:5]
for term in comparison_terms:
    observed_expected.append(count_value(term))
    
observed_expected

[(0, 1), (1, 0), (2, 0), (2, 14), (2, 3)]

In [45]:
from scipy.stats import chisquare
import numpy as np

high_value_count = jeopardy[jeopardy["high_value"] == 1].shape[0]
low_value_count = jeopardy[jeopardy["high_value"] == 0].shape[0]

chi_squared = []
for obs in observed_expected:
    total = sum(obs)
    total_prop = total / jeopardy.shape[0]
    high_value_exp = total_prop * high_value_count
    low_value_exp = total_prop * low_value_count
    
    observed = np.array([obs[0], obs[1]])
    expected = np.array([high_value_exp, low_value_exp])
    chi_squared.append(chisquare(observed, expected))

chi_squared

[Power_divergenceResult(statistic=0.40196284612688399, pvalue=0.52607729857054686),
 Power_divergenceResult(statistic=2.4877921171956752, pvalue=0.11473257634454047),
 Power_divergenceResult(statistic=4.9755842343913503, pvalue=0.025707519787911092),
 Power_divergenceResult(statistic=2.0459928943532475, pvalue=0.15260738863448364),
 Power_divergenceResult(statistic=0.31376681678493112, pvalue=0.57537786229446908)]

There is not much difference between the observed and expected values, the frequency is lower than 5. So we should not assume we will increase our chances of winning by studyng only high or low value questions.